<template>
  <div class="app-container">
    <div class="filter-container">

      <h1> Cargos </h1>
      <el-input v-model="listQuery.title" placeholder="Title" style="width: 200px;" class="filter-item" @keyup.enter.native="handleFilter" />

      <el-select v-model="listQuery.type" placeholder="Type" clearable class="filter-item" style="width: 130px">
        <el-option v-for="item in calendarTypeOptions" :key="item.key" :label="item.display_name+'('+item.key+')'" :value="item.key" />
      </el-select>
      <el-select v-model="listQuery.sort" style="width: 140px" class="filter-item" @change="handleFilter">
        <el-option v-for="item in sortOptions" :key="item.key" :label="item.label" :value="item.key" />
      </el-select>
      <el-button v-waves class="filter-item" type="primary" icon="el-icon-search" @click="handleFilter">
        Buscar
      </el-button>
      <el-button class="filter-item" style="margin-left: 10px;" type="primary" icon="el-icon-edit" @click="handleCreate">
        Nuevo
      </el-button>
      <el-button v-waves :loading="downloadLoading" class="filter-item" type="primary" icon="el-icon-download" @click="handleDownload">
        Exportar
      </el-button>
      <el-checkbox v-model="showReviewer" class="filter-item" style="margin-left:15px;" @change="tableKey=tableKey+1">
        reviewer
      </el-checkbox>
      <button class="btn btn-success" @click="leerAPI">Ver lista</button>
    </div>

    <table class="table">
      <thead>
        <tr>
          <b-td stacked-heading="Clothes: Trousers" variant="success">id</b-td>
          <b-td stacked-heading="Clothes: Trousers" variant="success">name</b-td>
          <b-td stacked-heading="Clothes: Trousers" variant="success">display_name</b-td>
          <b-td stacked-heading="Clothes: Trousers" variant="success">activo</b-td>
          <b-td stacked-heading="Clothes: Trousers" variant="success">user_id</b-td>
          <b-td stacked-heading="Clothes: Trousers" variant="success">create_at</b-td>
          <b-td stacked-heading="Clothes: Trousers" variant="success">update_at</b-td>

        </tr>
      </thead>
      <tbody>
        <tr v-for="(item, index) in pacientes" :key="index">
          <td>{{ item.id }}</td>
          <td>
            <span v-if="formActualizar && idActualizar == index">
              <!-- Formulario para actualizar -->
              <input v-model="nameActualizar" type="text" class="form-control">
            </span>
            <span v-else>
              <!-- Dato nombre -->
              {{ item.name }}
            </span>
          </td>
          <td>
            <span v-if="formActualizar && idActualizar == index">
              <!-- Formulario para actualizar -->
              <input v-model="nameActualizar" type="text" class="form-control">
            </span>
            <span v-else>
              <!-- Dato nombre -->
              {{ item.display_name }}
            </span>
          </td>

          <td>

            {{ item.active }}
          </td>
          <td>{{ item.user_id }}</td>
          <td>{{ item.created_at }}</td>
          <td>{{ item.updated_at }}</td>

          <td>
            <!-- Botón para guardar la información actualizada -->
            <span v-if="formActualizar && idActualizar == index">
              <button class="btn btn-success" @click="API_putRequest(idCargo, index)">Guardar</button>
            </span>
            <span v-else>
              <!-- Botón para mostrar el formulario de actualizar -->
              <button class="btn btn-warning" @click="handleUpdate(item)">Editar</button>
              <!-- Botón para borrar -->
              <button class="btn btn-danger" @click="API_deleteRequest(item, index)">Borrar</button>
            </span>
          </td>
        </tr>
      </tbody>
    </table>

    <pagination v-show="total>0" :total="total" :page.sync="listQuery.page" :limit.sync="listQuery.limit" @pagination="getList" />

    <!-- Formulario para crear -->

    <el-dialog :title="textMap[dialogStatus]" :visible.sync="dialogFormVisible">
      <el-form ref="dataForm" :rules="rules" :model="paciente" label-position="left" label-width="70px" style="width: 400px; margin-left:50px;">

        <el-form-item label="Nombre">
          <el-input v-model="paciente.name" />
        </el-form-item>
        <el-form-item label="Estado">
          <div>
            <b-form-checkbox
              id="checkbox-1"
              v-model="paciente.activo"
              name="checkbox-1"
              value="Activo"
              unchecked-value="No activo"
            >
              <div> <strong>{{ status }}</strong></div>
            </b-form-checkbox>
          </div>
        </el-form-item>

      </el-form>

      <div slot="footer" class="dialog-footer">
        <el-button @click="dialogFormVisible = false">
          Cancelar
        </el-button>
        <button v-show="editarActivo" type="submit" class="btn btn-success" @click="editarPaciente(paciente)">Actualizar</button>
        <button v-show="!editarActivo" type="submit" class="btn btn-primary" @click="createData(paciente)">Crear</button>
      </div>
    </el-dialog>

    <el-dialog :visible.sync="dialogPvVisible" title="Reading statistics">
      <el-table :data="pvData" border fit highlight-current-item style="width: 100%">
        <el-table-column prop="key" label="Channel" />
        <el-table-column prop="pv" label="Pv" />
      </el-table>
      <span slot="footer" class="dialog-footer">
        <el-button type="primary" @click="dialogPvVisible = false">Confirmar</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import { fetchList, fetchPv, updateArticle } from '@/api/article'
import waves from '@/directive/waves' // waves directive
import { parseTime } from '@/utils'
import Pagination from '@/components/Pagination' // secondary package based on el-pagination

const calendarTypeOptions = [
  { key: 'CN', display_name: 'China' },
  { key: 'US', display_name: 'USA' },
  { key: 'JP', display_name: 'Japan' },
  { key: 'EU', display_name: 'Eurozone' }
]

// arr to obj, such as { CN : "China", US : "USA" }
const calendarTypeKeyValue = calendarTypeOptions.reduce((acc, cur) => {
  acc[cur.key] = cur.display_name
  return acc
}, {})

export default {
  /* eslint-disable */
  name: 'ComplexTable',
  components: { Pagination },
  directives: { waves },
  filters: {
    statusFilter(status) {
      const statusMap = {
        published: 'success',
        draft: 'info',
        deleted: 'danger'
      }
      return statusMap[status]
    },
    typeFilter(type) {
      return calendarTypeKeyValue[type]
    }
  },
  data() {
    return {

      paciente: {
        name: '',
        activo: false,
        id: ''

        },
        pacientes :[],
        options:[],
        newName:'',
        display_name: '',
        
        user_id: '',
        create_at: '',
        update_at: '',
        id: '',
        show: true,

      formActualizar: '',
      idActualizar: '',
      nameActualizar: '',
      edadActualizar: '',
      opcionMail: '',
      editarActivo: false,
      status: 'No activo',
      tableKey: 0,
      list: null,
      total: 0,
      listLoading: false,
      listQuery: {
        page: 1,
        limit: 20,
        importance: undefined,
        title: undefined,
        type: undefined,
        sort: '+id'
      },
      importanceOptions: [1, 2, 3],
      calendarTypeOptions,
      sortOptions: [{ label: 'ID Ascending', key: '+id' }, { label: 'ID Descending', key: '-id' }],
      statusOptions: ['published', 'draft', 'deleted'],
      showReviewer: false,
      temp: {
        id: undefined,
        importance: 1,
        remark: '',
        timestamp: new Date(),
        title: '',
        type: '',
        status: 'published'
      },
      dialogFormVisible: false,
      dialogStatus: '',
      textMap: {
        update: 'Editar',
        create: 'Nuevo cargo'
      },
      dialogPvVisible: false,
      pvData: [],
      rules: {
        type: [{ required: true, message: 'type is required', trigger: 'change' }],
        timestamp: [{ type: 'date', required: true, message: 'timestamp is required', trigger: 'change' }],
        title: [{ required: true, message: 'title is required', trigger: 'blur' }]
      },
      downloadLoading: false,

        user_id: '',
        create_at: '',
        update_at: '',
        id: '',
        show: true,
        totalRows: 1,
        currentPage: 1,
        perPage: 5,
        pageOptions: [5, 10, 15],
        sortBy: '',
        sortDesc: false,
        sortDirection: 'asc',
        filter: null,
        filterOn: [],
        infoModal: {
          id: 'info-modal',
          title: '',
          content: ''

      },

          opcionMail: [],
          enviado: false,

          formActualizar: '',
          idActualizar: '',
          nameActualizar: '',
          edadActualizar: '',
          opcionMail: '',

      }
  },
  created() {
    this.getList()
  },
  methods: {
//GET
      leerAPI(){
        let res = axios
       .get('http://localhost:8000/api/cargos')
        .then(res => {
          this.pacientes = res.data;
          console.log(res.data);
          this.sortByID()
        })
        .catch(err => {
          console.log(err);
        });
       },
//DELETE
      API_deleteRequest(item, index) {
      axios.delete('http://localhost:8000/api/cargo/' + item.id)
      .then(()=>{
        this.pacientes.splice(index,1);
        
      })
      .catch(function (error) {
      console.log(error);
      });
    },

//POST
        createData() {
      this.$refs['dataForm'].validate((valid) => {
        if (valid) {
         const params = 
        {name: this.paciente.name,
        activo: this.paciente.activo
        }
        axios.post('http://localhost:8000/api/cargo', params )
        .then(res => {
          const data = res.data;
          this.pacientes.push(res.data);
          this.dialogFormVisible = false;
          this.paciente = { name: '', activo: '' };

        })
        .catch(function (error) {
          console.log(error);
        });
        }
      })
    },
    

       editarFormulario(item) {
               this.resetTemp()
      this.dialogStatus = 'update'
      this.dialogFormVisible = true
      this.$nextTick(() => {
        this.$refs['dataForm'].clearValidate()
      })
            this.editarActivo = true;
            // Antes de mostrar el formulario de actualizar, rellenamos sus campos
            this.paciente.name = item.name;
            this.paciente.activo = item.activo;
            this.paciente.id = item.id;
            // Mostramos el formulario
       },
 //PUT      
       editarPaciente(paciente, index){
           const params = {name: paciente.name, activo: paciente.activo};

           axios.put('http://localhost:8000/api/cargo/' + paciente.id, params)
            .then(res=>{
                    const index = this.pacientes.findIndex(
                    item => item.id === paciente.id);
                    this.pacientes[index] = res.data;
                    this.pacientes.push(res.data);
                    
                    
                    this.dialogFormVisible = false;
                    this.paciente = { name: '', activo: '' };
                    this.editarActivo = false;
                    this.leerAPI();
          
            })

           .catch(function (error) {
          console.log(error);
        });
        },
        borrarPaciente: function (paciente_id) {
            // Borramos de la lista
            this.pacientes.splice(paciente_id, 1);
        },
        guardarActualizacion: function (idCargo) {
            // Ocultamos nuestro formulario de actualizar
            this.formActualizar = false;
            // Actualizamos los datos
            this.pacientes[paciente_id].name = this.nameActualizar;
            this.pacientes[paciente_id].edad = this.edadActualizar;
        },
        cancelarEdicion(){
            this.editarActivo = false;
            this.paciente = {name: '', activo: ''}

        },
    getList() {
      this.listLoading = false
      fetchList(this.listQuery).then(response => {
        this.list = response.data.items
        this.total = response.data.total

        // Just to simulate the time of the request
        setTimeout(() => {
          this.listLoading = false
        }, 1.5 * 1000)
      })
    },
    handleFilter() {
      this.listQuery.page = 1
      this.getList()
    },
    handleModifyStatus(item, status) {
      this.$message({
        message: '操作Success',
        type: 'success'
      })
      item.status = status
    },
    sortChange(data) {
      const { prop, order } = data
      if (prop === 'id') {
        this.sortByID(order)
      }
    },
    sortByID(order) {
      if (order === 'ascending') {
        this.listQuery.sort = '+id'
      } else {
        this.listQuery.sort = '-id'
      }
      this.handleFilter()
    },
    resetTemp() {
      this.temp = {
        id: undefined,
        importance: 1,
        remark: '',
        timestamp: new Date(),
        title: '',
        status: 'published',
        type: ''
      }
    },
    handleCreate() {
      this.resetTemp()
      this.dialogStatus = 'create'
      this.dialogFormVisible = true
      this.$nextTick(() => {
        this.$refs['dataForm'].clearValidate()
      })
    },
    



    handleUpdate(item) {
      this.temp = Object.assign({}, item) // copy obj
      this.temp.timestamp = new Date(this.temp.timestamp)
      this.dialogStatus = 'update'
      this.dialogFormVisible = true
      this.editarActivo = true
      this.$nextTick(() => {
        this.$refs['dataForm'].clearValidate()
      })

      // Antes de mostrar el formulario de actualizar, rellenamos sus campos
      this.paciente.name = item.name;
      this.paciente.activo = item.activo;
      this.paciente.id = item.id;
      // Mostramos el formulario
    },
    updateData() {
      this.$refs['dataForm'].validate((valid) => {
        if (valid) {
          const tempData = Object.assign({}, this.temp)
          tempData.timestamp = +new Date(tempData.timestamp) // change Thu Nov 30 2017 16:41:05 GMT+0800 (CST) to 1512031311464
          updateArticle(tempData).then(() => {
            for (const v of this.list) {
              if (v.id === this.temp.id) {
                const index = this.list.indexOf(v)
                this.list.splice(index, 1, this.temp)
                break
              }
            }
            this.dialogFormVisible = false
            this.$notify({
              title: 'Success',
              message: 'Update Successfully',
              type: 'success',
              duration: 2000
            })
          })
        }
      })
    },
    handleDelete(item) {
      this.$notify({
        title: 'Success',
        message: 'Delete Successfully',
        type: 'success',
        duration: 2000
      })
      const index = this.list.indexOf(item)
      this.list.splice(index, 1)
    },
    handleFetchPv(pv) {
      fetchPv(pv).then(response => {
        this.pvData = response.data.pvData
        this.dialogPvVisible = true
      })
    },
    handleDownload() {
      this.downloadLoading = true
      import('@/vendor/Export2Excel').then(excel => {
        const tHeader = ['timestamp', 'title', 'type', 'importance', 'status']
        const filterVal = ['timestamp', 'title', 'type', 'importance', 'status']
        const data = this.formatJson(filterVal, this.list)
        excel.export_json_to_excel({
          header: tHeader,
          data,
          filename: 'table-list'
        })
        this.downloadLoading = false
      })
    },
    formatJson(filterVal, jsonData) {
      return jsonData.map(v => filterVal.map(j => {
        if (j === 'timestamp') {
          return parseTime(v[j])
        } else {
          return v[j]
        }
      }))
    },
    getSortClass: function(key) {
      const sort = this.listQuery.sort
      return sort === `+${key}`
        ? 'ascending'
        : sort === `-${key}`
          ? 'descending'
          : ''
    }
  }
}
</script>