<template>
  <el-card class="box-card-component" style="margin-left:8px;">
    <div slot="header" class="box-card-header">
      <img :src="image_minsa">
    </div>
    <div style="position:relative;">
      <div>
        <pan-thumb :image="avatar" class="panThumb" />
      </div>
      <div class="minsa-message">
        <p>
          <br>
          Conducimos con eficiencia e integridad el Sistema Nacional Coordinado y Descentralizado de Salud basado en Redes Integradas de Salud, la política para el aseguramiento universal en salud, y las políticas y acciones intersectoriales sobre los determinantes sociales; en beneficio de la salud y el bienestar de la población.
        </p>
        <p>
          Nuestra visión es que en el año 2021 el acceso al cuidado y la atención integral en salud individual y colectiva de las personas sea universal, independientemente de su condición socioeconómica y de su ubicación geográfica.
        </p>
      </div>
    </div>
  </el-card>
</template>

<script>
import { mapGetters } from 'vuex'
import PanThumb from '@/components/PanThumb'
import image_minsa from '@/assets/img/minsa.jpg'

export default {
  components: { PanThumb },

  filters: {
    statusFilter(status) {
      const statusMap = {
        success: 'success',
        pending: 'danger'
      }
      return statusMap[status]
    }
  },
  data() {
    return {
      statisticsData: {
        article_count: 1024,
        pageviews_count: 1024
      },
      image_minsa

    }
  },
  computed: {
    ...mapGetters([
      'name',
      'avatar',
      'roles'
    ])
  }
}
</script>

<style lang="scss" >
.box-card-component{
  .el-card__header {
    padding: 0px!important;
  }
}
</style>
<style lang="scss" scoped>
.box-card-component {
  .box-card-header {
    position: relative;
    height: 220px;
    img {
      width: 100%;
      height: 100%;
      transition: all 0.2s linear;
      &:hover {
        transform: scale(1.1, 1.1);
        filter: contrast(130%);
      }
    }
  }
  .mallki-text {
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: 20px;
    font-weight: bold;
  }
  .panThumb {
    z-index: 100;
    height: 70px!important;
    width: 70px!important;
    position: absolute!important;
    top: -45px;
    left: 0px;
    border: 5px solid #ffffff;
    background-color: #fff;
    margin: auto;
    box-shadow: none!important;
    /deep/ .pan-info {
      box-shadow: none!important;
    }
  }
  .progress-item {
    margin-bottom: 10px;
    font-size: 14px;
  }
  @media only screen and (max-width: 1510px){
    .mallki-text{
      display: none;
    }
  }
  .minsa-message {
      text-align: justify;
  }
}
</style>
